version: "3.8"

services:
  zotero-pdf-proxy:
    image: ${PDF_PROXY_IMAGE:-ghcr.io/joonsoome/on-prem-zotero-webui/pdf-proxy:dev}
    build:
      context: .
      dockerfile: Dockerfile.pdf-proxy
    environment:
      - ZOTERO_ROOT=/data/zotero
    volumes:
      - ${DEV_ZOTERO_SAMPLE_ROOT:-./sample-webdav/zotero}:/data/zotero
      - ./app:/app
    ports:
      - "${DEV_PDF_PROXY_PORT:-8280}:8000"

  web-library:
    image: ${WEB_LIBRARY_IMAGE:-ghcr.io/joonsoome/on-prem-zotero-webui/web-library:dev}
    build:
      context: .
      dockerfile: Dockerfile.web-library
    environment:
      - PDF_PROXY_BASE_URL=${DEV_PDF_PROXY_BASE_URL:-http://localhost:8280/pdf}
      - ZOTERO_API_KEY=${ZOTERO_API_KEY:-}
      - ZOTERO_API_AUTHORITY_PART=${ZOTERO_API_AUTHORITY_PART:-api.zotero.org}
      - ZOTERO_USER_SLUG=${ZOTERO_USER_SLUG:-zotero-user}
      - ZOTERO_USER_ID=${ZOTERO_USER_ID:-0}
      - ZOTERO_INCLUDE_MY_LIBRARY=${ZOTERO_INCLUDE_MY_LIBRARY:-true}
      - ZOTERO_INCLUDE_USER_GROUPS=${ZOTERO_INCLUDE_USER_GROUPS:-true}
      - ZOTERO_LIBRARIES_INCLUDE_JSON=${ZOTERO_LIBRARIES_INCLUDE_JSON:-[]}
    ports:
      - "${DEV_WEB_LIBRARY_PORT:-8281}:80"
    depends_on:
      - zotero-pdf-proxy
